#results td {
    text-align: center;
}

#brands td {
    text-align: center;
}

#chz-results:hover,
#ebw-results:hover,
#cracked-results:hover,
#kym-results:hover {
    transform: scale(1.1);
    transition: transform 1s ease;
}

body {
    font-family: monospace;
}

.logo-image {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease;
    margin-bottom: 5%;
}

.logo-image:hover {
    transform: scale(1.3);
}

.logo-results {
    width: 200px;
    height: auto;
    margin: 100px;
}

#CHZ-destination,
#EBW-destination,
#CRACKED-destination,
#KYM-destination {
    margin: 500px;
}
