table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.device {
    align-items: center;
    display: flex;
    justify-content: center;
}
label {
    font-size: 1em;
    margin-bottom: 0.5em;
}
img {
    max-width: 30%;
    height: auto;
}
#logo {
    background-color: #13133e;
    text-align: center;
}
.gray {
    background-color: #b3abab;
}
.emoji {
    text-align: center;
    font-size: 1.5em;
}
