name: Lighthouse CI

on:
  push:
    branches:
      - main

jobs:
  lighthouse:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Install Lighthouse and Chrome
        run: |
          sudo apt-get install -yq google-chrome-stable
          npm install -g lighthouse@7.2.0

      - name: Check Chrome Version
        run: google-chrome-stable --version

      - name: Run Lighthouse Audit - CHZ Desktop
        run: lighthouse https://www.cheezburger.com/ --output html --preset=desktop --output-path=./audit-chz-desktop.html --no-sandbox --chrome-flags="--headless"
        continue-on-error: true

      - name: Run Lighthouse Audit - CHZ Mobile
        run: lighthouse https://www.cheezburger.com/ --output html --output-path=./audit-chz-mobile.html --form-factor mobile --no-sandbox --chrome-flags="--headless"
        continue-on-error: true

      - name: Run Lighthouse Audit - CRD Desktop
        run: lighthouse https://www.cracked.com/ --output html --preset=desktop --output-path=./audit-crd-desktop.html --no-sandbox --chrome-flags="--headless"
        continue-on-error: true

      - name: Run Lighthouse Audit - CRD Mobile
        run: lighthouse https://www.cracked.com/ --output html --output-path=./audit-crd-mobile.html --form-factor mobile --no-sandbox --chrome-flags="--headless"
        continue-on-error: true

      - name: Run Lighthouse Audit - EBW Desktop
        run: lighthouse https://www.ebaumsworld.com/ --output html --preset=desktop --output-path=./audit-ebw-desktop.html --no-sandbox --chrome-flags="--headless"
        continue-on-error: true

      - name: Run Lighthouse Audit - EBW Mobile
        run: lighthouse https://www.ebaumsworld.com/ --output html --output-path=./audit-ebw-mobile.html --form-factor mobile --no-sandbox --chrome-flags="--headless"
        continue-on-error: true

      - name: Run Lighthouse Audit - KYM Desktop
        run: lighthouse https://knowyourmeme.com/ --output html --preset=desktop --output-path=./audit-kym-desktop.html --no-sandbox --chrome-flags="--headless"
        continue-on-error: true

      - name: Run Lighthouse Audit - KYM Mobile
        run: lighthouse https://knowyourmeme.com/ --output html --output-path=./audit-kym-mobile.html --form-factor mobile --no-sandbox --chrome-flags="--headless"
        continue-on-error: true

      - name: Upload Lighthouse Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: lighthouse-results
          path: |
            ./audit-chz-desktop.html
            ./audit-chz-mobile.html
            ./audit-crd-desktop.html
            ./audit-crd-mobile.html
            ./audit-ebw-desktop.html
            ./audit-ebw-mobile.html
            ./audit-kym-desktop.html
            ./audit-kym-mobile.html

      - name: Commit and Push Results
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Lighthouse today's automation results"
          git push
