name: Update chz.html

on:
  push:
    branches:
      - main

jobs:
  update-chz-html:
    runs-on: ubuntu-latest
    needs: set-commit-time

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Update chz.html
        run: |
          sed -i 's/chz.html/Cheezburger QA Automation Results/g' chz.html

          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add chz.html
          git commit -m "Update chz.html [skip ci]"
          git push
        continue-on-error: true