name: Update Commit Time

on:
  push:
    branches:
      - main

jobs:
  update-commit-time:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Update Commit Time
        run: |
          current_content=$(cat index.html)

          current_date=$(date +'%Y-%m-%d %H:%M:%S')

          new_content="<p id=\"date\">Test Results Date: $current_date</p>"

          updated_content="$current_content\n$new_content"

          echo -e "$updated_content" > index.html

          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add index.html
          git commit -m "Update last commit date [skip ci]"
          git push
